---
Checks:
  - clang-diagnostic-*
  - clang-analyzer-*
  - bugprone-*
  - -bugprone-easily-swappable-parameters
  - misc-use-anonymous-namespace
  - readability-static-definition-in-anonymous-namespace
WarningsAsErrors: "*"
FormatStyle: file
UseColor: true
HeaderFilterRegex: .*
